/* src/Components/Pipeline/PipelineTabs.css */
.PipelineTabs {
    margin: 20px 0;
}

.tabs button {
    margin-right: 10px;
}

.content {
    margin-top: 10px;
}

/* src/Components/Legend/Legend.css */
.Legend {
    margin: 20px 0;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
